.estilo-barra{
    background-color: blue;
    
     
 }
 
 .cor-fonte-nav{
     color: aliceblue;
 
 }
 .perfil{
     
     position: absolute;
    
     max-width: 330px;
   
    /* margin: 0px 10px 0px 0px;*/
     /*margin-left: 100px;*/
    /* margin: 20px 20px 20px 1100px;
     align-items: flex-end;*/
     /*padding-right: 200px;*/
     margin-right: 20px;
 
  }