
html,body{
    width: 100%;
    height: 100%;
}

.estilo-barra{
   background-color: blue;    
}

.cor-fonte-nav{
    color: aliceblue;

}
.perfil{
    
    position: absolute;   
    max-width: 330px;
    margin-right: 20px;

}

* {
    margin: 0;
    padding: 0;    
}



